#######################################################################
# These requirements are for doing development on the service.
# These should not be the requirements used for deploying or installing
# any python code associated with the service.
#######################################################################
synapse>=2.225.0,<3.0.0
